graft impress
graft docs
prune docs/_build
prune html
include *.sh *.rst *.cfg *.ini *.py
exclude .installed.cfg
exclude .gitmodules
exclude impress/static/impressjs/.git
global-exclude *.pyc
global-exclude __pycache__
